.App {
  margin: 2rem;
  text-align: center;
}
.HomeDiv{
  width: 60%;
  height:90%;
  position: absolute;
  padding: 0;
  direction: rtl;
  right: 22vw;
  top:7vh;
}

.HomeDiv h1{
font-size: 2.4vw;
color: #FAA159;
font-weight: 900;
}
.HomeDiv p{
  font-size: 1.8vw;
  color:#0F1259;
  font-weight: 900;
}
.HomeDiv div{
  font-size: 1.4vw;
  list-style-type: none;
  color:#0F1259;
  font-weight: 900;
  display: flex;
  width: fit-content;
  align-items: center;
  margin-bottom: 1vw;
}
.HomeDiv a{
  text-decoration: underline;
  color:#0F1259;
  font-weight: 900;
}
#HomeImage{
  position: absolute;
  top: 9vh;
  left: -8vw;
  width: 35vw;

}
.HomeDiv span{
  margin-right: 1vw;
}
#StartButton{
  background-color:#FAA159;
  border-radius: 30vw;
  font-size: 1.7vw;
  width: 17vw;
  height: 4.2vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
  cursor: pointer;
}
#StartButton a{
  text-decoration: none;


}
#SportLogo{
  position: absolute;
  bottom: 0.5vw;
  right:-4.5vw;
  width: 18vw;
}