@import url(//fonts.googleapis.com/css?family=Heebo);
*{
	font-family: Heebo;
}
.sidenavbar{
	position: fixed;
	right: 0;
	width: 15vw;
	background-color: rgb(15,18,89);
	height: 100%;
	top:0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	justify-content: space-evenly;
	overflow-y: scroll;
}

a{
	text-decoration: none;

}

/* width */
.sidenavbar::-webkit-scrollbar {
  width: 0.5vw;

}

/* Track */
::-webkit-scrollbar-track {
   background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
   background: #244242;
  border-radius: 10vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(40,40,40);
}

.sidenavtabs{
	display: block;
	height: 1.7vw;
	color:black;
	background-color: transparent;
	direction: rtl;
	margin-right:2vw;
/*	margin-bottom: 1.8vw;*/
}
.sidenavtabs a{
	color:white;
	font-size: 1.5vw;
	display: flex;
	justify-content: flex-start;
	height: 100%;
	align-items: center;
	padding-right: 1vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	transition: 0.2s;
}
.sidenavtabs a:hover{
	transform: scale(1.0);
	margin-right: 1vw;
	transition: 0.2s;
}

.activesidenavtabs{
	height: 4vw;
}
.activesidenavtabs a::before{
	content:'';
	width: 2vw;
	height: 2vw;
	background-color:rgb(15,18,89);
	border-bottom-left-radius: 1vw;
	box-shadow: -10px 10px 0px 0px white;
	position: absolute;
	left:0;
	top:-2vw;
}

.activesidenavtabs a::after{
	content:'';
	width: 2vw;
	height: 2vw;
	background-color:rgb(15,18,89);
	border-top-left-radius: 1vw;
	box-shadow: -10px -10px 0px 0px white;
	position: absolute;
	left:0;
	bottom:-2vw;
}



.activesidenavtabs a{
	color:black;
	border-radius: 0px 20px 20px 0px;
	background-color: white;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	position: relative;

}


.activesidenavtabs a:hover{
	background-color: white;
	transform: scale(1);
	margin-right: 0;
}


#WhatIsMain{
	width: calc(100% - 15vw);
	position: absolute;
	top:2vw;
	right:15vw;
	display: flex;
	direction: rtl;
	flex-direction: column;

}
#WhatIsMainButtonDiv{
	display: flex;
	direction: rtl;
	justify-content: space-evenly;
	margin-right:4vw;
	margin-top: 0vw;
	height: 100px;
	width: 60vw;

}
.WhatIsMainButton{
	font-size: 1.5vw;
	width: 11vw;
	border:none;
	background-color: rgb(220,220,220);
	height: fit-content;
	padding: 0.4em 0em 0.4em 0em;
	transition: 0.5s;
	transform: skewX(20deg);
}

.rightcurved{
	border-right: 1vw solid transparent;
	border-top-right-radius: 6vw;
	border-bottom-right-radius: 17vw;
	padding-left: 1vw;
	padding-right: 0;
	width: 14vw;
}
.leftcurved{
	border-right: 1vw solid transparent;
	border-top-left-radius: 17vw;
	border-bottom-left-radius: 6vw;
	padding-left: 2vw;
	padding-right: 0;
	width: 10vw;
}

.WhatIsMainButton p{
	transform: skewX(-20deg);
	padding: 0;
	margin: 0;
}

.WhatIsMainButtonActive{
	background-color: rgb(150,150,150);
}





#WhatIsContentDiv{
	width: 70vw;
	height: fit-content;
	margin: 0 auto;
	text-align: right;
	
}
#WhatIsContentText{
	font-weight: 1000;
	font-size: 1.5vw;
}
#WhatIsContentDivFirstState p{
	margin-right: 16vw;
	width: fit-content;
	font-size: 1vw;
}

#WhatIsContentDivFirstStatePage{
	/*margin-right: 12vw;*/
	margin: 0 auto;
	margin-top: 3vw;
	display: flex;
	flex-wrap: wrap;
	width: 60vw;
	height: 30vw;
	justify-content: space-evenly;
}
.WhatIsFirstStatePageButton{
	width: 15vw;
	margin: 1vw;
	font-size: 1.4vw;
	font-weight: 1000;
	height: 10vw;
	border: none;
	box-shadow: 0.3vw 0.3vw 0.5vw gray;
	border-radius: 1vw;
	background-color: white;
	transition: 0.4s;
}
.WhatIsFirstStatePageButton:hover{
	transform: scale(1.1);
	transition: 0.2s;
	cursor: pointer;
}



#BackButton{
	position:fixed;
	bottom: 2vw;
	right:18vw;
	direction: rtl;
	display: flex;
}
#FrontButton{
	position:fixed;
	bottom: 2vw;
	left: 3vw;
	direction: rtl;
	display: flex;
}


.FrontBackButtons{
	background-color: rgb(40,40,40);
	padding:0.3vw 0.6vw  0.4vw 0.6vw;
	color:white;
	font-size: 2vw;
	border-radius: 20px;
	border:none;
	cursor: pointer;
	margin-left: 1.1px;
}

.FrontBackButtons:hover{
	color:lightgray;
}

