@import url(//fonts.googleapis.com/css?family=Arimo);
*{
	font-family: Arimo;
}



#WhatIsMain{
	width: calc(100% - 15vw);
	position: absolute;
	top:2vw;
	right:15vw;
	display: flex;
	direction: rtl;
	flex-direction: column;

}




.ContentDiv{
	width: 70vw;
	height: fit-content;
	margin: 0 auto;
	text-align: right;
	margin-top: 0vw;
	direction: ltr;

}
.ContentText{
	font-weight: 1000;
	font-size: 1.5vw;
}






