.ContentDivFirstStatePage {
  margin: 0 auto;
  margin-top: 2vw;
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  height: 30vw;
  justify-content: center;
  flex-direction: row;
  direction: rtl;
}
.FirstStatePageButton {
  width: 15vw;
  margin: 1vw;
  font-size: 1.4vw;
  font-weight: 1000;
  height: 10vw;
  border: none;
  box-shadow: 0.3vw 0.3vw 0.5vw rgb(200, 200, 200);
  border-radius: 1vw;
  background-color: #faa159;
  transition: 0.4s;
  color: #0f1259;
  margin: 1vw 1vw 2vw 4vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FirstStatePageButton:hover {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}
.logo {
  max-height: 4vw;
  max-width: 10vw;
  height: auto;
  width: auto;
  margin-bottom: 1vw;
}
.logodesc {
  position: absolute;
  bottom: 0;
  align-self: center;
  width: fit-content;
}
