#MainGameDiv{
	display: flex;
	width: 72vw;
	height: 60vh;
	justify-content: space-between;
	align-items: flex-end;

}
#gamediv{
	display: block;
	position: relative;
	width: fit-content;

}


#court{
	width: calc(17vw + 10vh);
	cursor: pointer;
}

.MalePlayerBubble{
	border:calc(0.1vw + 0.2vh) solid #FAA159;
	border-radius: calc(0.6vw + 0.2vh);
	padding: 1vh 1vw 1vh 1vw;
	text-align: center;
	position: relative;
}
.MalePlayerBubble::after{
	display: block;
    /*content: url('FirstArrow.png');*/
    background-image: url('./FirstArrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content:'';
    position: absolute;
    bottom:-25.2%;
    left: 70%;
    z-index: 9999;
    height: 25%;
    width: 25%;
}
.MalePlayerDiv{
	position: relative;
	width: 33%;
	margin-right: 4%;
}
.MalePlayerBubbleFirstAlt{
	border:calc(0.1vw + 0.2vh) solid #FAA159;
	border-radius: calc(0.6vw + 0.2vh);
	padding: 1vh 1vw 1vh 1vw;
	text-align: center;
	position: relative;
}
.MalePlayerBubbleFirstAlt::after{
	display: block;
    /*content: url('FirstArrow.png');*/
    background-image: url('./FirstArrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content:'';
    position: absolute;
    bottom:-25.2%;
    left: 20%;
    transform:rotateY(180deg);

    z-index: 9999;
    height: 25%;
    width: 25%;
}
.MalePlayerBubbleSecondAlt{
	border:calc(0.1vw + 0.2vh) solid #FAA159;
	border-radius: calc(0.6vw + 0.2vh);
	padding: 1vh 1vw 1vh 1vw;
	text-align: center;
	position: relative;
}
.MalePlayerBubbleSecondAlt::after{
	display: block;
    /*content: url('FirstArrow.png');*/
    background-image: url('./SecondArrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content:'';
    position: absolute;
    bottom:-45%;
    transform: rotate(10deg);
    left: 97%;
    z-index: 9999;
    height: 64%;
    width: 64%;
}
.MalePlayerBubbleThirdAlt{
	border:calc(0.1vw + 0.2vh) solid #FAA159;
	border-radius: calc(0.6vw + 0.2vh);
	padding: 1vh 1vw 1vh 1vw;
	text-align: center;
	position: relative;
}
.MalePlayerBubbleThirdAlt::after{
	display: block;
    /*content: url('FirstArrow.png');*/
    background-image: url('./ThirdArrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content:'';
    position: absolute;
    top:9.5vh;
    transform: rotate(0deg);
    left: 100.2%;
    z-index: 9999;
    height: 18.5vh;
    width: 18.5vw;
}






.FemalePlayerBubble{
	border:calc(0.1vw + 0.2vh) solid #FAA159;
	border-radius: calc(0.6vw + 0.2vh);
	padding: 1vh 1vw 1vh 1vw;
	text-align: center;
	position: relative;
}
.FemalePlayerBubble::after{
	display: block;
    /*content: url('FirstArrow.png');*/
    background-image: url('./FirstArrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content:'';
    position: absolute;
    bottom:-25.2%;
    left: 10%;
    z-index: 9999;
    height: 25%;
    width: 25%;
    transform:rotateY(180deg);
}
.FemalePlayerDiv{
	position: relative;
	width: 33%;
}
.FemalePlayerDiv img{
	margin-right: 32%;
}
.FemalePlayerBubbleFirstAlt{
	border:calc(0.1vw + 0.2vh) solid #FAA159;
	border-radius: calc(0.6vw + 0.2vh);
	padding: 1vh 1vw 1vh 1vw;
	text-align: center;
	position: relative;
}
.FemalePlayerBubbleFirstAlt::after{
	display: block;
    /*content: url('FirstArrow.png');*/
    background-image: url('./FirstArrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content:'';
    position: absolute;
    bottom:-25.2%;
    left: 20%;
    transform:rotateY(180deg);
    z-index: 9999;
    height: 25%;
    width: 25%;
}

.Situation{
	position: absolute;
	top:-10%;
}
.Situation h1{
	font-size: calc(1.2vw + 1.2vh);
	font-weight: 900;
	margin: 0;
	margin-bottom: 1vh;
}
.Situation h2{
	font-size: calc(1vw + 1vh);
	font-weight: 500;
	margin: 0;
}