.Follower{
	position: absolute;
	left:1vw;
	bottom: -2vh;
	font-size: 2vw;
	font-weight: 900;
}
.reset{
	position: absolute;
	left:1vw;
	bottom: -7vh;
	font-size: 4vw;
	font-weight: 900;
	cursor: pointer;
	transform: rotate(290deg);
	transition: 0.5s;
}
.reset:hover{
	transform: scale(1.1) rotate(91deg);
	transition: 0.5s;

}
.AnswersDiv *{
	direction: rtl;
}


.AnswersDiv{
	position: absolute;
	top:0.8vh;
	right: 2vw;
	display: block;
	text-align: right;
	width: 50vw;
	margin-top: 10vh;
}
.AnswerP{
	font-size: 4vh;
	cursor: pointer;
}
.AnswerPCsn {
	font-size: 4vh;
	cursor: pointer;
}
.AnswerPCsn span{
	background-color: yellow;
}

.AnswersBtnDiv{
	position: absolute;
	top: 30vh;
	left: 24vw;
	width: 35vw;
	display: flex;
	justify-content: space-around;
}
.AnswerBtn{
	background-color:#0F1259;
	color:#FAA159;
	font-size: 4vh;
	border-radius: 30vw;
	border:none;
	cursor: pointer;
	width: 20vh;
	height: 8.5vh;
	transition: 0.1s;
	align-items: center;
	font-weight: 600;
	direction: rtl;
}
.AnswerBtnCsn{
	background-color:#FAA159;
	color:#0F1259;
	font-size: 5vh;
	border-radius: 30vw;
	border:none;
	cursor: pointer;
	width: 21vh;
	height: 4.5vw;
	transition: 0.1s;
	align-items: center;
	font-weight: 600;
	direction: rtl;
}
.question{
	position: absolute;
	left:45%;
	font-size: 2vw;
	font-weight: 900;
}

.PopUpGameButtonDiv{
	position: absolute;
	bottom: 1vh;
	left: 22vw;
	width: 40vw;
	display: flex;
	justify-content: space-between;
}
.PopUpGameButton{
	background-color:#0F1259;
	color:#FAA159;
	font-size: 4.2vh;
	border-radius: 30vw;
	border:none;
	cursor: pointer;
	width: 25vh;
	height: 8.5vh;
	transition: 0.3s;
	align-items: center;
	font-weight: 600;
	direction: rtl;
}
.PopUpGameButton:hover{
	transform: scale(1.1);
}
.PopUpGameButtonShut{
	background-color:#0F1119;
	color:gray;
	font-size: 4.2vh;
	border-radius: 30vw;
	border:none;
	cursor: pointer;
	width: 25vh;
	height: 8.5vh;
	transition: 0.3s;
	align-items: center;
	font-weight: 600;
	cursor: default;
	direction: rtl;
}
.PopUpGameButtonShut span{
	font-size: 5vh;
}
.PopUpGameButton span{
	font-size: 5vh;
}