.PopUpGameDiv{
	width: 100%;
	height: 100%;
	position: relative;
}

.AnswersDiv{
	direction: rtl;
	position: absolute;
	top:12vw;
	right: 2vw;
}
#Question{
	direction: rtl;
	position: absolute;
	top:7vw;
	right: 2vw;
	color:#0F1259;
	font-weight: 900;
	font-size: 1.8vw;
}
.Answer{
	color:#0F1259;
	border:0.3vw solid #0F1259;
	border-radius: 2vw;
	padding: 0vw 1vw 0vw 1vw;
	width: 35vw;
	height: 4vw;
	font-weight: 900;
	font-size: 1.6vw;
	cursor: pointer;
	display: flex;
	align-items: center;
	text-align: center;
}

#explanationPopUp{
	position: absolute;
	background:white;
	border-radius: 2vw;
	top:30%;
	right: 30%;
	width: 25vw;
	height: fit-content;
	padding-bottom: 2vw;
	min-height: 15vw;
	border:0.3vw solid #0F1259;
	z-index: 9999;
}

.NextButton{
	background-color:#0F1259;
	color:white;
	border-radius: 2vw;
	border:none;
	width: 10vw;
	height: 3vw;
	align-self: center;
	position: absolute;
	bottom:3%;
	left:32%;
	font-size: 1.4vw;
	cursor: pointer;
}

 #V{
    position: absolute;
    left: 48%;
    top:2%;
    margin: 0;
    font-size: 1.6vw;
    border-radius: 50%;
    padding: .04em .3em;
    color:white;
    background-color: #1e8dc7;
}
#congrats{
    position: absolute;
    left: 20%;
    top:12%;
    width: fit-content;
    margin: 0;
    font-size: 1.6vw;
    font-weight: 900;
    color: #1e8dc7;
}

#nocongrats{
    position: absolute;
    left: 6.4%;
    top:12%;
    width: 22vw;
    text-align: center;
    margin: 0;
    font-size: 1.6vw;
    font-weight: 900;
    color: #DC5B59;
}

#explanation{
    position: absolute;
    left: 10%;
    top:30%;
    width: 20vw;
    margin: 0;
    font-size: 1.2vw;
    font-weight: 900;
    color: black;
    direction: rtl;
}

.BtnAnswersDiv{
	position: absolute;
	right:30%;
	top:30%;
	width: 26vw;
	display: flex;
	justify-content: space-between;
}
.BtnAnswerRight{
	color:white;
	font-size: 2vw;
	background-color:#1E8DC7;
	border-radius: 1vw;
	width: 10vw;
	padding-bottom: 1vw;
	padding-top: 1vw;
	text-align: center;
	box-shadow: 4px 4px 10px 4px lightgray;
	cursor: pointer;

}
.BtnAnswerWrong{
	color:white;
	background-color:#DC5B59;
	border-radius: 1vw;
	font-size: 2vw;
	text-align: center;
	width: 10vw;
	padding-bottom: 1vw;
	padding-top: 1vw;
	box-shadow: 4px 4px 10px 4px lightgray;
	cursor: pointer;

}
.CsnAnswer{
	background-color: #FAA159;
	color:white;
	border-color: transparent;
}

#score{
	width:fit-content;
	margin:0 auto;
	margin-top: 0%;
	text-align: center;
	direction: rtl;
}
#score p{
	font-size: 2vw;
	color:#0f1259;
	font-weight: 900;
}
#score img{
	margin-top: 4vw;
	width:calc(14vw + 15vh);
}
#score button{
	position: absolute;
	bottom: 10%;
	left:42%;
	background-color:#0F1259;
	color:white;
	border-radius: 2vw;
	border:none;
	width: 10vw;
	height: 3vw;
	align-self: center;
	position: absolute;
	font-size: 1.4vw;
	cursor: pointer;
}
.PicutreAnswersDiv{
	position: absolute;
	bottom: 3%;
	left: 27.5%;
	width: 33vw;
	height: 30vw;
}

.PictureQuestion{
	width:calc(10vw + 10vh);
	position:absolute;
	top: 0;
	left: 27%
}
.YesNoQuestionImage{
	width:calc(14vw + 16vh);
	position:absolute;
	bottom: 12%;
	left: 35.5%;
	border-radius:2vw;
}

.PictureAnswer{
	width:calc(8vw + 10vh);
	cursor:pointer;
}
.PicutreAnswersDivBtns{
	display: flex;
	width: 100%;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
}
.QuestionImage{
		width:calc(15vw + 18vh);
		position: absolute;
		left:10%;
		top:34.5%;
		border-radius: 1vw;
}